html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
body,div{font-size:0;}
p,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;pointer-events:auto;}
ul{list-style-type:none;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
li p{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select::none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.whitespacefix{word-spacing:-1px;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
#body{background-color:rgb(255,255,255);}
.pos{position:relative;margin-top:0;}
.vis{display:block;}
.section{pointer-events:none;min-width:1200px;width:1200px;margin-left:auto;margin-right:auto;}
.vis-2{display:inline-block;vertical-align:top;}
.pos-2{position:relative;margin-left:0;margin-top:0;}
.size{min-width:1200px;width:1200px;min-height:1800px;}
.colwrapper{line-height:0;}
.size-2{min-width:1200px;width:1200px;min-height:1800px;height:1800px;}
.cont-2{z-index:1;pointer-events:auto;}
.img{position:absolute;left:0;width:1200px;height:1800px;top:0;border:0;}
.img-2{left:0;width:1200px;height:1800px;top:0;}
.pos-3{position:relative;margin-left:38px;margin-top:-1729px;}
.size-3{min-width:750px;width:750px;min-height:225px;}
.cont-3{z-index:2;pointer-events:auto;}
.para{padding-top:0;text-indent:0;margin-top:19.18pt;margin-bottom:-19.18pt;padding-right:0;text-align:left;}
.font{font-family:"EB Garamond";font-size:73.50pt;font-weight:400;font-style:normal;text-decoration:underline;color:rgb(0,0,0);line-height:134.28pt;letter-spacing:normal;}
@media (min-width:960px) and (max-width:1199px) {
.section{min-width:960px;width:960px;}
.size{min-width:960px;width:960px;min-height:1440px;}
.size-2{min-width:960px;width:960px;min-height:1440px;height:1440px;}
.img{width:960px;height:1440px;}
.img-2{width:960px;height:1440px;}
.pos-3{margin-left:30px;margin-top:-1383px;}
.size-3{min-width:600px;width:600px;min-height:180px;}
.para{margin-top:15.46pt;margin-bottom:-15.46pt;}
.font{font-size:59.25pt;line-height:108.25pt;}
}
@media (min-width:768px) and (max-width:959px) {
.section{min-width:768px;width:768px;}
.size{min-width:768px;width:768px;min-height:1152px;}
.size-2{min-width:768px;width:768px;min-height:1152px;height:1152px;}
.img{width:768px;height:1152px;}
.img-2{width:768px;height:1152px;}
.pos-3{margin-left:24px;margin-top:-1106px;}
.size-3{min-width:480px;width:480px;min-height:144px;}
.para{margin-top:12.33pt;margin-bottom:-12.33pt;}
.font{font-size:47.25pt;line-height:86.33pt;}
}
@media (min-width:480px) and (max-width:767px) {
.section{min-width:480px;width:480px;}
.size{min-width:480px;width:480px;min-height:720px;}
.size-2{min-width:480px;width:480px;min-height:720px;height:720px;}
.img{width:480px;height:720px;}
.img-2{width:480px;height:720px;}
.pos-3{margin-left:15px;margin-top:-691px;}
.size-3{min-width:300px;width:300px;min-height:90px;}
.para{margin-top:7.63pt;margin-bottom:-7.63pt;}
.font{font-size:29.25pt;line-height:53.44pt;}
}
@media (max-width:479px) {
.section{min-width:320px;width:320px;}
.size{min-width:320px;width:320px;min-height:480px;}
.size-2{min-width:320px;width:320px;min-height:480px;height:480px;}
.img{width:320px;height:480px;}
.img-2{width:320px;height:480px;}
.pos-3{margin-left:10px;margin-top:-461px;}
.size-3{min-width:200px;width:200px;min-height:60px;}
.para{margin-top:5.09pt;margin-bottom:-5.09pt;}
.font{font-size:19.50pt;line-height:35.63pt;}
}
